<section id="projects" class="section-projects section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-12">
                <h2>Projects</h2>
                <div class="row pt-2 pt-md-4">
                    {{ $projects := where .Site.RegularPages "Type" "projects" }}
                    {{ $projects = $projects.ByDate.Reverse }}
                    {{ $i := 0 }}
                    {{ range $projects }}
                    {{ $modulus := mod $i 2 }}
                    <div class="col-12 mb-4">
                        <div class="project row align-items-center">
                            {{ if eq $modulus 0 }}
                            <div class="col-md-6">
                                <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="img-fluid">
                            </div>
                            <div class="col-md-6">
                                <h3>{{ .Title }}</h3>
                                <div class="project-content">
                                    {{ .Content }}
                                </div>
                                {{ with .Params.technologies }}
                                <p class="tech-stack"><strong>Technologies:</strong> {{ delimit . ", " }}</p>
                                {{ end }}
                                {{ with .Params.github }}
                                <a href="{{ . }}" class="btn btn-primary" target="_blank">
                                    <i class="icon-square-github"></i>
                                    View on GitHub
                                </a>
                                {{ end }}
                            </div>
                            {{ else }}
                            <div class="col-md-6 order-md-2">
                                <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" class="img-fluid">
                            </div>
                            <div class="col-md-6 order-md-1">
                                <h3>{{ .Title }}</h3>
                                <div class="project-content">
                                    {{ .Content }}
                                </div>
                                {{ with .Params.technologies }}
                                <p class="tech-stack"><strong>Technologies:</strong> {{ delimit . ", " }}</p>
                                {{ end }}
                                {{ with .Params.github }}
                                <a href="{{ . }}" class="btn btn-primary" target="_blank">
                                    <i class="icon-square-github"></i>
                                    View on GitHub
                                </a>
                                {{ end }}
                            </div>
                            {{ end }}
                        </div>
                    </div>
                    {{ $i = add $i 1 }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>